// Global styles

// Variables
$primary-color: #db7da2;
$secondary-color: #43261e;
$accent-color: #e27f07;
$primary-tint: #FFC0CB;
$tertiary-color: #edeee0;
$highlight-color: #3b99fc; //for accessibility focus

// Mix-ins
@mixin primary-font($font-size) {
    font-size: $font-size * 1px;
    font-size: ($font-size/10) * 1rem;
    font-family: 'Raleway', Sans-Serif;
    line-height: 1.6;
}

@mixin secondary-font($font-size) {
    font-size: $font-size * 1px;
    font-size: ($font-size/10) * 1rem;
    font-family: 'Abril Fatface', Cursive;
}

@mixin cursive-font($font-size) {
    font-size: $font-size * 1px;
    font-size: ($font-size/10) * 1rem;
    font-family: 'Pacifico', Cursive;
}

// Layout
html {
    font-size: 62.5%;
    // 10px
}

body {
    background: $tertiary-color;
    color: $secondary-color;
    @include primary-font(24);
}

.wrapper {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

.hide {
    display: none;
}

// Typography
h1, h2, h3, .header-1 {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

h1, .header-1 {
    @include secondary-font(150);
    text-shadow: 3px 3px $primary-color;
}

h2 {
    @include secondary-font(36);
}

// Links
.button {
    display: inline-block;
    margin: 20px auto;
    background: $primary-color;
    padding: 5px 20px;
    border: 1px solid $secondary-color;
    color: $secondary-color;
    text-decoration: none;
    @include cursive-font(24);
    transition: background 1s;
}

.button:hover, a.button:hover {
    background: $primary-tint;
}

.button:focus {
    outline: 3px solid $highlight-color;
}

// Alerts
.swal-modal {
    background-color: $tertiary-color;
}

.swal-title, .swal-text {
    color: $secondary-color;
}

.swal-icon--error__line {
    background-color: $primary-color;
}

.swal-icon--error {
    border-color: $primary-color;
}

.swal-button {
    background-color: $primary-color;
    color: $secondary-color;
}

.swal-button:not([disabled]):hover {
    background-color: $primary-tint;
}

.swal-button:active {
    background-color: $primary-tint;
}
