// Global styles

// Variables
$primary-color: #db7da2;
$secondary-color: #43261e;
$accent-color: #e27f07;
$light-pink: #FCDEED;
$white-shade: #edeee0;

// Mix-ins
@mixin primary-font($font-size) {
    font-size: $font-size * 1px;
    font-size: ($font-size/10) * 1rem;
    font-family: 'Poppins', Sans-Serif;
    line-height: 1.6;
}

@mixin secondary-font($font-size) {
    font-size: $font-size * 1px;
    font-size: ($font-size/10) * 1rem;
    font-family: 'Abril Fatface', Cursive;
}

@mixin cursive-font($font-size) {
    font-size: $font-size * 1px;
    font-size: ($font-size/10) * 1rem;
    font-family: 'Pacifico', Cursive;
}

// Layout
html {
    font-size: 62.5%;
    // 10px
}

body {
    background: $white-shade;
    color: $secondary-color;
    @include primary-font(24);
}

.wrapper {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

// Typography
h1, h2, h3, .header-1 {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

h1, .header-1 {
    @include secondary-font(150);
    text-shadow: 3px 3px $primary-color;
}

h2 {
    @include secondary-font(36);
}

// Links

.button {
    display: inline-block;
    margin: 20px auto;
    background: $primary-color;
    padding: 5px 20px;
    border: 1px solid $secondary-color;
    color: $secondary-color;
    text-decoration: none;
    @include cursive-font(24);
    transition: background 1s;
}

.button:hover {
    background: $accent-color;
}
