// Header styles
header {
    background: $tertiary-color;
}

.header-grid {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto minmax(200px, 1fr) auto;
}

.header-text {
    text-align: center;
}

.header-img {
    background: url(../assets/donut-header-a.jpg);
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.header-1 {
    display: inline-block;
    line-height: 1;
    text-align: center;
    position: relative;
    margin-top: 30px;
}

.header-2 {
    @include cursive-font(47);
    text-transform: lowercase;
    text-align: right;
    position: absolute;
    top: -17px;
    right: -5px;
    z-index: 100;
    text-shadow: 1px 1px $tertiary-color;
}
