// Results
.results-container {
    background: $primary-color;
}

.results-container .wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    padding: 50px 0 30px 0;
}

// Final results
.results {
    text-align: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

// Results title
.result h2 {
    text-align-last: left;
}

.donut-name {
    @include cursive-font(60);
}

.donut-description {
    text-align: left;
}

// Results background
.results-container .donut-img {
    background: url('../assets/donut-yellow.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

// Try again
.try {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    text-align: center;
    align-self: end;
}

.try-again {
    margin: 20px 0 0 0;
}

.try a {
    background: $tertiary-color;
}
