article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

img {
  max-width: 100%; }

html {
  font-size: 62.5%; }

body {
  background: #edeee0;
  color: #43261e;
  font-size: 24px;
  font-size: 2.4rem;
  font-family: 'Raleway', Sans-Serif;
  line-height: 1.6; }

.wrapper {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto; }

h1, h2, h3, .header-1 {
  text-transform: uppercase;
  margin: 0;
  padding: 0; }

p {
  margin: 0;
  padding: 0; }

h1, .header-1 {
  font-size: 150px;
  font-size: 15rem;
  font-family: 'Abril Fatface', Cursive;
  text-shadow: 3px 3px #db7da2; }

h2 {
  font-size: 36px;
  font-size: 3.6rem;
  font-family: 'Abril Fatface', Cursive; }

.button {
  display: inline-block;
  margin: 20px auto;
  background: #db7da2;
  padding: 5px 20px;
  border: 1px solid #43261e;
  color: #43261e;
  text-decoration: none;
  font-size: 24px;
  font-size: 2.4rem;
  font-family: 'Pacifico', Cursive;
  -webkit-transition: background 1s;
  -o-transition: background 1s;
  transition: background 1s; }

.button:hover, a.button:hover {
  background: #FFC0CB; }

header {
  background: #edeee0; }

.header-grid {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto; }

.header-text {
  text-align: center; }

.header-img {
  background: url(../assets/donut-header-a.jpg);
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

.header-1 {
  display: inline-block;
  line-height: 1;
  text-align: center;
  position: relative;
  margin-top: 30px; }

.header-2 {
  font-size: 47px;
  font-size: 4.7rem;
  font-family: 'Pacifico', Cursive;
  text-transform: lowercase;
  text-align: right;
  position: absolute;
  top: -17px;
  right: -5px;
  z-index: 100;
  text-shadow: 1px 1px #edeee0; }

section .wrapper {
  padding: 100px 0; }

.next {
  text-align: center; }

.next .button {
  padding: 20px 40px;
  font-size: 30px;
  font-size: 3rem;
  font-family: 'Pacifico', Cursive;
  background: #edeee0; }

input[type=radio] {
  visibility: hidden; }

.submit-container {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  margin: 0;
  padding: 0;
  margin: 20px auto -50px; }

.button-submit {
  margin: 0 auto;
  display: block;
  padding: 20px 40px;
  font-size: 30px;
  font-size: 3rem;
  font-family: 'Pacifico', Cursive;
  background: #edeee0; }

.question-1 {
  background: #db7da2; }

.question-1 .wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-gap: 50px; }

.question-1 .options {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px; }

.img-container {
  position: relative; }

.question-1 img {
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block; }

.overlay {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  text-align: center;
  color: #edeee0;
  padding-top: 15%; }

.overlay img {
  width: 80%;
  margin: 0 auto; }

.question-1 input[type='radio']:checked + label > .img-container > .overlay {
  display: block; }

.name {
  display: block;
  text-align: center;
  margin: 0 auto;
  font-size: 24px;
  font-size: 2.4rem;
  font-family: 'Pacifico', Cursive; }

.question-1 label:hover .celeb {
  border: 5px solid #edeee0; }

.question-1 label:hover .name {
  text-shadow: 1px 1px #edeee0; }

.question-2 {
  background: #edeee0; }

.question-2 .wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  padding: 80px 0; }

.question-2 .options {
  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-gap: 10px;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  z-index: 100;
  padding: 30px 0; }

.question-2 h2 {
  grid-column: 1 / 3;
  grid-row: 1 / 2; }

.question-2 .next {
  grid-column: 1 / 3;
  grid-row: 3 / 4; }

.question-2 .donut-img {
  background: url("../assets/donut-pink.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 1 / 3;
  grid-row: 2 / 4; }

.question-2 .question-option:nth-child(1) {
  text-align: center; }

.question-2 .question-option:nth-child(3) {
  text-align: right; }

.question-2 .question-option:nth-child(4) {
  margin-left: 30px; }

.question-2 .question-option:nth-child(5) {
  text-align: center; }

.question-2 label {
  display: inline-block;
  background: #FFC0CB;
  padding: 5px;
  border: 1px solid #43261e;
  scale: 2;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: background 1s;
  -o-transition: background 1s;
  transition: background 1s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s; }

.question-2 label:hover {
  background: #db7da2;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

.question-2 .next .button {
  margin: 20px auto -20px; }

.question-2 input[type='radio']:checked + label {
  text-decoration: underline;
  background: #db7da2;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

.question-3 {
  background: #FFC0CB; }

.question-3 .wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-gap: 50px; }

.question-3 .options {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px; }

.question-3 img {
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block; }

.question-3 input[type='radio']:checked + label > .img-container > .overlay {
  display: block; }

.question-3 label:hover .celeb {
  border: 5px solid #db7da2; }

.question-3 label:hover .name {
  text-shadow: 1px 1px #db7da2; }

.question-4 {
  background: #edeee0; }

.question-4 .wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  padding: 80px 0; }

.question-4 .options {
  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-gap: 10px;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  z-index: 100;
  padding: 30px 0; }

.question-4 h2 {
  grid-column: 1 / 3;
  grid-row: 1 / 2; }

.question-4 .donut-img {
  background: url("../assets/donut-orange.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 1 / 3;
  grid-row: 2 / 4; }

.question-4 .question-option:nth-child(1) {
  text-align: center; }

.question-4 .question-option:nth-child(2) {
  text-align: right;
  margin-right: 50px; }

.question-4 .question-option:nth-child(3) {
  margin-left: 100px; }

.question-4 .question-option:nth-child(4) {
  text-align: right;
  margin-right: 200px; }

.question-4 .question-option:nth-child(5) {
  margin-left: 300px; }

.question-4 label {
  display: inline-block;
  background: #FFC0CB;
  padding: 5px;
  border: 1px solid #43261e;
  scale: 2;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: background 1s;
  -o-transition: background 1s;
  transition: background 1s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s; }

.question-4 label:hover {
  background: #db7da2;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

.question-4 input[type='radio']:checked + label {
  text-decoration: underline;
  background: #db7da2;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

.results-container {
  background: #db7da2;
  display: none; }

.message {
  color: #43261e;
  text-decoration: none;
  font-size: 1.8rem;
  text-align: center; }

.message a {
  background: #edeee0; }

.icon {
  font-size: 15rem;
  text-align: center; }

.donut-name {
  font-size: 60px;
  font-size: 6rem;
  font-family: 'Pacifico', Cursive;
  text-align: center; }
